*{margin: 0px; padding: 0px;}
ul{list-style: none;} /* 리스트 앞에 . 같은거 제거*/
a{text-decoration: none;} /* 링크에 밑줄 같은거 제거*/
 *{
    font-family: 'Do Hyeon', sans-serif; 
}
header{
     /*메인 이미지의 너비 사이즈와 같음*/
    height: 90px;
    background-color: #2d3a4b;
 
    /* header 안에 요소들을 모두 absolute 포지션으로 배치할 것이라서 */
    /* absolute 요소가 header의 좌상단을 기준으로 하려면 */
    /* header의 position이 relative 여야만 함 */
   position: relative;
}
 
/* 제목영역안에 있는 메인 로고 이미지 위치 지정 */
#logo{
    position: relative;
    top: 20px;
    left: 20px;
    width: 300px; /*헤더와 같은 사이즈*/
    height: 10px;
    font-size: 40px;
    color: white;
}

/* 제목영역안에 오른쪽 상단에 top_menu 배치 */
#top_menu{
    position: fixed;
    top: 60px;
    right: 20px;
    color: white;
    font-size: 20px;
}

/* top_menu a의 글시 하얀색으로 */
#top_menu a{color: white;}
/* 헤더 영역안에 네비게이션 메뉴 배치 */
nav{
    position: absolute;
    bottom: 10px;
    left: 500px;
    font-size: 20px;
}
.nav-item:hover{
    background-color: grey;
}
nav li{
    display: inline;
    margin-left: 30px;
}
 
nav li a{color: white;}
 
/* 콘텐츠 영역의 알래에 있는 배너 이미지 inline으로 */
#content li{
    display: inline;
    margin-left: 50px;
}
/* footer 영역 */
footer{ /*헤더와 같은 사이즈*/
    height:40px;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 0px
}
 
/* 전체 페이지가 가운데로 오도록 */
#page{ margin: 0px auto;}

#Foods h1{
   font-family: 'Do Hyeon', sans-serif; 
   font-size: 50px
}
#content h2{
    font-family: 'Do Hyeon', sans-serif; 
}
